body{
  background-color: #48BEFF;
}

#inputJumbo {
  margin-top: 100px;
  margin-bottom: 500px;
  background-color: #43C59E;
  border: 3px solid black;
  border-radius: 0%;
  box-shadow: 2px 2px 4px 2px black;
}

#outputJumbo {
  margin-top: 100px;
  margin-bottom: 500px;
  background-color: #43C59E;
  border: 3px solid black;
  border-radius: 0%;
  box-shadow: 2px 2px 4px 2px black;
}
.btn {
  background-color: #3DFAFF;
  color: white;
  width: 50px;
  height: 50px;
  line-height: 25px;
}
