<h1>Vowel Replacer</h1>
<h2>Replace all vowels with a dash</h2>
<form action='/results'>
  <div class="form-group">
    <label for="userInput">Enter a phrase here:</label>
    <input id="userInput" name="userInput" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
